*{margin: 0;padding: 0;list-style: none;}/* border: 1px solid red; */
body{
	height: 100%;
	background: #F2D7BA url(../img/bg-2-2.jpeg) no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
	position: relative;
}
#biaoqian img{
	width: 584px;
	height: 85.5px;
}
#biaoqian {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translatex(-50%);
	transition: all .5s;
}
#biaoqian:hover{
	border-bottom: 6px double #82552A;
	transform:translatex(-50%) translateY(-3px);
}
#qhl a,
#qhr a{
	display: block;
	width: 139.2px;
	height: 78.3px;
	position: absolute;
	top: 490px;
	opacity: .5;
	transition: all .5s;
}
#qhl a{
	background: url(../img/qiehuanz.png);
	background-size: cover;
	left: 10px;
}
#qhr a{
	background: url(../img/qiehuany.png);
	background-size: cover;
	right: 10px;
}
#qhl a:hover{
	background: url(../img/qiehuan1.png);
	background-size: cover;
}
#qhr a:hover{
	background: url(../img/qiehuan2.png);
	background-size: cover;
}
#tushi{
	width: 1150px;
	height: 650px;
	border: 10px double #a36a34;
	border-radius: 40px;
	position: absolute;
	left: 50%;
	top: 210px;
	transform: translatex(-50%);
	overflow: hidden;
}
#tushi img{
	width: 1150px;
	height: 650px;
}
#vd video{
	width: 1150px;
	height: 650px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translatex(-50%);
	/* z-index: 1000; */
}
#tushi input{
	width: 313px;
	height: 129px;
	background: url(../img/bofang2.png);
	background-size: cover;
	border: none;
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%,-50%);
	transition: background .7s;
}
#tushi input:hover{
	background: url(../img/bofang1.png);
	background-size: cover;
}